div {
  margin-left: 200px;
}

p {
  font-family: monospace;
  font-size: 30px;
  color: rgb(60, 235, 16);
  text-shadow: 5px 5px 5px;
}

button {
  border: none;
  padding: 10px;
  outline: none;
  cursor: pointer;
  float: left;
  background-color: rgb(28, 190, 190);
  box-shadow: 5px 5px 5px rgb(60, 235, 16);
}

button:focus {
  box-shadow: 1px 1px 5px rgb(60, 235, 16);
}